@import '@styles/var.scss';

.container {
  @media screen and (max-width: 1000px) {
    display: none;
  }

  @include slideInBox(absolute);
  width: 200px;

  & > div {
    margin-bottom: 20px;

    & > article {
      & > h1 {
        font-size: 1.2rem;
        font-weight: 700;
      }
    }
  }
}
