.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em 50px;
  border-bottom: 1px solid lightgray;
  background-color: white;

  background-image: linear-gradient(
      transparent 11px,
      rgba(220, 220, 200, 0.8) 12px,
      transparent 12px
    ),
    linear-gradient(90deg, transparent 11px, rgba(220, 220, 200, 0.8) 12px, transparent 12px);
  background-size: 100% 12px, 12px 100%;

  @media screen and (max-width: 1000px) {
    padding: 1em;
  }

  & > h1 {
    margin-right: 1em;
  }

  & > nav {
    flex-grow: 1;
  }

  & > form {
    margin-left: 1.5em;
    width: 15em;
  }

  & > button:last-of-type {
    display: none;
  }

  @media screen and (max-width: 1000px) {
    & > h1 span,
    & > nav,
    & > div {
      display: none;
    }

    & > h1 {
      margin: 0;
    }

    & > form {
      flex-grow: 1;
      margin: 0 1em;
    }

    & > button:last-of-type {
      display: block;
    }
  }
}
