.a11y-hidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0); /* IE 6,7 */
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}
.text-align-left {
  text-align: left;
  text-indent: 1em;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
  text-indent: 0;
}
.text-align-justify {
  text-align: justify;
  text-indent: 1em;
}
.align-self-flex-start {
  align-self: flex-start;
}
.align-self-flex-end {
  align-self: flex-end;
}
.align-self-flex-center {
  align-self: center;
}
