.container {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;

  & > main {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-image: url('../../../public/23284.png'), url('../../../public/45degreee_fabric.png');
    background-repeat: no-repeat, repeat;
    background-position: 100% 100%, 0 0;
  }
}
