.button {
  background-color: transparent;
  border: 1px solid black;
  box-shadow: 0px 5px 3px gray;
  color: black;
  transition: all 500ms;

  &:focus,
  &:hover {
    transform: scale(1.05);
  }

  &:active {
    box-shadow: none;
    transform: translateY(5px);
  }

  &:disabled {
    cursor: not-allowed;
    color: gray;
    border: 1px solid lightgray;
  }
}

.s {
  width: 80px;
  height: 30px;
  border-radius: 3px;
}

.m {
  width: 200px;
  height: 40px;
  border-radius: 4px;
}

.l {
  width: 400px;
  height: 40px;
  border-radius: 5px;
}

.content {
  width: fit-content;
  height: 30px;
  border-radius: 3px;
  padding: 0 1em;
}

.full {
  width: 100%;
  height: 40px;
  border-radius: 5px;
}
