.container {
  line-height: 1.6em;
  text-indent: 1em;
  padding: 20px 0;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
