.container {
  width: 100%;
  display: flex;
  position: relative;
}

// label
.locateLabel-top {
  flex-flow: column nowrap;

  & > label {
    margin-bottom: 5px;
  }
}
.locateLabel-right {
  flex-flow: row nowrap;
  align-items: center;

  & > label {
    order: 1;
    margin-left: 5px;
  }
}
.locateLabel-bottom {
  flex-flow: column nowrap;

  & > label {
    order: 1;
    margin-top: 5px;
  }
}
.locateLabel-left {
  flex-flow: row nowrap;
  align-items: center;

  & > label {
    margin-right: 5px;
  }
}

// valid
.locateValidAlert-top {
  & > p {
    position: absolute;
    bottom: calc(100% + 5px);
  }
}
.locateValidAlert-right {
  & > p {
    position: absolute;
    left: calc(100% + 5px);
  }
}
.locateValidAlert-bottom {
  & > p {
    position: absolute;
    top: calc(100% + 5px);
  }
}
.locateValidAlert-left {
  & > p {
    position: absolute;
    right: calc(100% + 5px);
  }
}
