.container {
  width: 100%;
  display: flex;
  position: relative;
  padding: 1em;
  border: 1px solid black;
  border-radius: 5px;

  & > label {
    position: absolute;
    top: 1em;
    background-color: white;
    transition: all 500ms;
    line-height: 1;
  }

  & > p {
    position: absolute;
    left: 0.5em;
    top: calc(100% - 0.5em);
    background-color: white;
    font-size: 0.8em;
    color: red;
    line-height: 1;
  }
}

.isActive {
  & > label {
    font-size: 0.9em;
    transform: translate3d(-0.5em, -1.5em, 0);
  }
}

.disabled {
  border: 1px solid gray;
  color: gray;

  & > label {
    font-size: 0.9em;
    transform: translate3d(-0.5em, -1.5em, 0);
  }
}

.checkbox {
  border: none;
  padding: 0;
  width: fit-content;

  & > label {
    white-space: nowrap;
    top: -1px;
    left: 2em;
    transform: none;
    font-size: inherit;
  }
}
