.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  margin-bottom: 20px;
  position: relative;

  & > * {
    margin-bottom: 10px;
  }

  & > p {
    align-self: flex-start;
  }
}

.timer {
  position: absolute;
  top: 1em;
  right: 1em;
}
