@import '@styles/var.scss';

.container {
  @include slideInBox(relative);

  width: 180px;
  max-height: 600px;
  padding: 20px 30px;
  background-color: white;

  background-image: linear-gradient(
      transparent 11px,
      rgba(220, 220, 200, 0.8) 12px,
      transparent 12px
    ),
    linear-gradient(90deg, transparent 11px, rgba(220, 220, 200, 0.8) 12px, transparent 12px);
  background-size: 100% 12px, 12px 100%;

  & > h1 {
    font-size: 1.2rem;
    margin-bottom: 0.6em;
  }

  & li {
    margin-bottom: 0.6em;
  }
}
