.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  & > div {
    margin-bottom: 20px;
  }

  & > *:nth-child(3) {
    align-self: flex-start;
  }

  & > button:last-child {
    margin-top: 20px;
  }
}
