@import '@styles/var.scss';

.container {
  @include slideInBox(relative);
  background-color: white;
  padding: 20px 30px;
  line-height: 1.6em;
  display: flex;
}

.full {
  width: 100%;
}

.fitContent {
  width: fit-content;
}

.column {
  flex-flow: column nowrap;
}

.row {
  flex-flow: row nowrap;

  * + *:not(*:last-child) {
    margin-left: 1em;
  }
}
