@import '@styles/var.scss';

.container {
  @include slideInBox(relative);
  background-color: white;

  background-image: linear-gradient(
      transparent 11px,
      rgba(220, 220, 200, 0.8) 12px,
      transparent 12px
    ),
    linear-gradient(90deg, transparent 11px, rgba(220, 220, 200, 0.8) 12px, transparent 12px);
  background-size: 100% 16px, 16px 100%;

  padding: 20px 30px;
  line-height: 1.6em;
  display: flex;
  border: 1px solid lightgray;
}

.full {
  width: 100%;
}

.fitContent {
  width: fit-content;
}

.column {
  flex-flow: column nowrap;
}

.row {
  flex-flow: row nowrap;
  align-items: center;

  * + *:not(*:last-child) {
    margin-left: 1em;
  }
}
