@import '@styles/var.scss';

.container {
  @include slideInBox(relative);
  background-color: white;
  padding: 20px 30px;
  line-height: 1.6em;
}

.full {
  width: 100%;
}

.fitContent {
  width: fit-content;
}
